body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 button{
    padding: 15px 40px;
    font-size: 16px;
    /* border-radius: 20px; */
    /* border-style: ridge; */
}